@{
  Layout = "_Layout";
}

@using PierreMarket.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    <p>Email: @Html.TextBoxFor(m => m.Email)</p>

    <p>Password: @Html.PasswordFor(m => m.Password)</p>

    <input type="submit" value="Log in" class="btn btn-default" />
}