@{
  Layout = "_Layout";
}

@using PierreMarket.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <p>Email: @Html.TextBoxFor(user=> user.Email, new { @required = "required" })</p>

    <p>Password: @Html.PasswordFor(user=> user.Password, new { @required = "required" })</p>

    <p>Confirm Password: @Html.PasswordFor(user=> user.ConfirmPassword, new { @required = "required" })</p>

    <input type="submit" value="Register" class="btn btn-success" />
}